/* style for responsive */






@media screen and (min-width:768px) and (max-width: 1023px) {


    /* header responsive section */
    .full-container {
        width: 764px;

    }

    .container {
        width: 764px;
    }

    header {
        width: 764px;
    }

    .header-content {
        padding: 50px;
        width: 30%;
    }

    .header-content img {
        width: 30%;
    }

    .header-content h1 {
        font-size: 40px;
    }


    /* main section style start */
    main {
        flex-direction: column;
        width: 764px;

    }


    .side-menu {
        background-color: #FFFFFF;
        margin-right: 0;
        height: auto;
        width: 100%;
    }

    .button-group {
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: space-evenly;
        align-items: center;

    }

    .button-group .button {
        border: 1px solid #E8E8E8;
        margin: 0;
        width: 100%;
    }

    .blogs {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .only-tablet-button {
        visibility: visible;
    }






    /* footer responsive style start */
    nav ol {
        flex-wrap: wrap;
        font-weight: 500px;
    }
}