/* style for responsive */


/* 
for tablet */


@media screen and (min-width:768px) and (max-width: 1023px) {


    /* header responsive section */
    .full-container {
        width: 764px;

    }

    .container {
        width: 764px;
    }

    header {
        width: 764px;
    }

    .header-content {
        padding: 50px;
        width: 30%;
    }

    .header-content img {
        width: 30%;
    }

    .header-content h1 {
        font-size: 40px;
        line-height: 45px;
    }


    /* main section style start */
    main {
        flex-direction: column;
        width: 764px;
        margin-top: 70px;

    }


    .side-menu {
        background-color: #FFFFFF;
        margin-right: 0;
        height: auto;
        width: 100%;

    }

    .button-group {
        display: flex;
        flex-direction: row;
        gap: 50px;
        justify-content: space-evenly;
        align-items: center;

    }



    .button-group .button {
        border: 1px solid #E8E8E8;
        margin: 0;
        width: 100%;
    }

    .upcoming-matchs {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .only-tablet-button {
        visibility: visible;
    }






    /* footer responsive style start */
    nav ol {
        flex-wrap: wrap;
        font-weight: 500px;
    }
}

/* 
responsive for mobile style */

@media screen and (max-width: 767px) {
    hr {
        width: 334px;
        color: #FFFFFF1A;
    }

    /* header responsive section */
    .full-container {
        width: 334px;

    }

    .container {
        width: 334px;
    }

    header {
        width: 334px;
        flex-direction: column;
        align-items: center;

    }

    .header-content {
        width: 90%;
        padding: 0px 50px;
        text-align: center;
    }

    .header-image {
        margin-top: 20px;

        padding: 0;
    }

    .header-image img {

        width: 100%;

    }

    .header-content h1 {
        font-size: 22px;
        line-height: 33px;
    }


    /* main section style start */
    main {
        flex-direction: column;
        width: 334px;
        margin-top: 70px;

    }


    .side-menu {

        margin-right: 0;
        height: auto;
        width: 100%;

    }

    .button-group {
        display: flex;
        background-color: #FFFFFF;
        gap: 16px;


    }

    .button-group .button {
        border: 1px solid #E8E8E8;
        margin: 0;
        padding: 17px 0px;
        width: 100%;
    }

    .upcoming-match {
        width: 334px;
    }

    .upcoming-matchs {
        width: 334px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }





    /* footer responsive style start */
    nav ol {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}